
div.information-image{
    position: relative;
    img{
        width: 100%;
    }
}
.information-icons{
    width: 15%;
    position: absolute;
    left: 0;
    padding-left: 19.3%;
    top: 200px;
    img{
        width: 100%;
    }
}

.information-text{
    width: 40.84%;
    position: absolute;
    right: 0px;
    top: 30px;
    padding-right: 10.41%;
    h2{
        width: 100%;
        font-size: 40px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    p{
        width: 100%;
        font-size: 18px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
}