.packages-title{
    color: #271e3f;
    font-size: 30px;
    padding-top: 67px;
    padding-bottom: 67px;
    text-align: center;
    text-transform: uppercase;
}
.packages-container{
    width: 100%;
    padding-left: 2.8%;
    padding-right: 2.8%;
}

.packages-box{
    width: 27.63%;
    float: left;
    margin-left: 4.4%;
    margin-bottom: 32px;
    position: relative;
    a{
        color: white;
        text-decoration: none;
    }
}
.packages-box{
    img{
        width: 100%;
    }
}

p.info-first{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    bottom: -28px;
    right: 0%;
    padding-top: 20px;
    padding-bottom: 35px;
}
p.more-info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: absolute;
    left: 33%;
    bottom: 0;
    color: white;
    opacity: 0.7;
}
p.info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    bottom: -28px;
    right: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
}
